.bg {
        background: url(https://a-static.besthdwallpaper.com/star-wars-the-force-awakens-movie-kylo-ren-with-lightsaber-wallpaper-1920x540-15882_70.jpg) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}

.padding{

    padding: 150px;
}

.d{
    padding-left: 66px;
}
.a{
    padding-right: 20px;
}