.bg {
        background: url(https://a-static.besthdwallpaper.com/star-wars-the-force-awakens-movie-kylo-ren-with-lightsaber-wallpaper-1920x540-15882_70.jpg) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}

.padding{

    padding: 150px;
}
.d{
    padding-left: 66px;
}
.a{
    padding-right: 20px;
}
.contenido{
    background-color: rgba(15, 7, 7, 0.664);
    width: 560px;
    height: 115px;
    margin-left: 33px;
    border-radius: 11px;
    padding-left: 25px;
    padding-top: 10px;
    color: yellow;
    margin-bottom: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.deplazado{
   text-align: right;
   padding-right: 44px;
}
