.back{
    background-color: rgb(86, 161, 204);
    border-radius: 7px;
    padding-top: 8px;
    padding-left: 5px;
    text-align: center;
}
.warning{
    padding-top: 55px;
    margin-top: 95px;
    border-color:black;
    background-color: rgb(0, 0, 0);
}
.check{
    border-radius: 7px;
}

.justify{
    padding-left:15px ;
}
.fondo{
    // background-color: rgba(255, 0, 0, 0.452);
     border-radius: 7px;
     padding:5px;
}
.align{
  align-items: center;
}
.imagen2{
    padding-left: 15px;
}
.imagen3{
    padding-left: 15px;
}
.pay{
    padding-left: 80px;
    padding-top: 100px;
}
.redondeado {
   border-radius: 5px;
   width: 460px;
 }

.redondeado2 {
   border-radius: 5px;
   width: 160px;
 }
.redondeado3 {
   border-radius: 5px;
   width: 164px;
 }
.firstname{
    border-radius: 5px;
    width: 430px;
}
.lastname{
    border-radius: 5px;
    width: 445px;
}
.cityborder{
    border-radius: 5px;
    width: 479px;
}
.stateborder{
    border-radius: 5px;
    width: 260px;
    padding-top:3px
}
.postalborder{
    border-radius: 5px;
    width: 97px;
}
.dateborder{
    border-radius: 5px;
    width: 160px;
}
.yeareborder{
    border-radius: 5px;
    width: 60px;
}
.messageborder{
       border-radius: 5px;
         width: 460px;
}
.border1{
    border-radius: 5px;
}
.backgroundtitle{
    background-color: black;
    color: yellow;
    font-size: 15px;
    padding:5px;
    border-radius: 5px;
}
.personalized{
    padding:33px;
}
.adaptacioncontenido{
    background-color: red;
    width: 525px;
    height: 40px;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(86, 161, 204);
}
.adaptacioncontenidofirstname{
    // background-color: red;
    width: 525px;
    height: 40px;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(86, 161, 204);
}
.adaptacioncontenidolastname{
    width: 538px;
    height: 40px;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(86, 161, 204);
    // background-color: red;
}
.adaptacioncontenidostate{
    width: 316px;
    height: 42px;
    text-align: left;
    padding-top: 6px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(86, 161, 204);
    // background-color: red;
    // margin-top: 3px;
}
.adaptacioncontenidocvc{
    width: 220px;
    height: 42px;
    text-align: left;
    padding-top: 6px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(86, 161, 204);
    //  background-color: red;
}
.adaptacioncontenidoamount{
    width: 253px;
    height: 42px;
    text-align: left;
    padding-top: 6px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(86, 161, 204);
    //  background-color: red;
}
.adaptacioncontenidocity{
    width: 525px;
    height: 42px;
    text-align: left;
    padding-top: 6px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(86, 161, 204);
    //  background-color: red;
}
.adaptacioncontenidopostal{
    width: 159px;
    height: 42px;
    text-align: left;
    padding-top: 6px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(86, 161, 204);
}
.positionimagen{
    padding-top: 33px;
    padding-left: 79px;
}
